.container{
    padding: 0;
    max-width: 100%;
    background-color: lavender;
}

img{
    padding-top: 10px;
}
p{
    text-align: center;
}

#headerText p{
    text-align: center;
}

#bodyimages{
    padding: 0px;
}

.navbar{
    background-color: white;
}